header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $cWhite;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);


    .header {
        max-width: 1022px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        h1 {
            font-size: 24px;
            padding: 24px 20px;

            @include sp {
                font-size: 20px;
                padding: 15px 10px;
            }

            img {
                padding-right: 16px;
            }

            span {
                display: inline-block;
                padding-bottom: 10px;
            }
        }

        .nav {
            font-size: 16px;

            &.active {
                @include tab {
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.3);
                    // opacity: 0.8;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 11;
                }
    
            }

            .nav-wrap {
                @include tab {

                position: fixed;
                top: 0;
                right: -120%;
                width: 500px;
                height: 100vh;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 12;
                transition: all 0.6s;
            }


                @include sp {
                    width: 100%;
                }

                &.active {
                    right: 0;
                }

            nav {
                @include tab {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }


            ul {
                @include tab {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 13;
                }

                    li {
                        display: inline-block;
                        padding: 39px 23px;
                        z-index: 15;
        
                        @include tab {
                            display: block;
                            text-align: center;

                            font-size: 22px;
                        }
        
                        a {
                            color: $cBlack;

        
                        }
                    }
                }
                
            }

            }
        }
        
        .contact .btn-c {
            @include c-btn;
            margin-top: 29px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            display: inline-block;

            @include tab {
                display: none;
            }
        }

        .burger {
            display: none;
            transition: all 0.6s;

            @include tab {
                display: block;
            }

            .burger-btn {
                width: 40px;
                height: 40px;
                margin: 30px;
                border: 1px solid transparent;
                background-color: transparent;
                position: relative;
                z-index: 20;
                padding: 0 5%;

                @include sp {
                    margin: 20px;
                }

                span {
                    display: block;
                    position: absolute;
                    width: 35px;
                    height: 3px;
                    background-color: $cBlack;
                    z-index: 15;
                    transition: all 0.4s;

                    &:nth-child(1) {
                        top: 5px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &:nth-child(2) {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &:last-child {
                        bottom: 5px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                &.active {
                    span {
                        transition: all 0.4s;
                      &:nth-child(1) {
                        transform: translate(-50%,13px) rotate(45deg);
                      } 
                      
                      &:nth-child(2) {
                          opacity: 0;
                      }

                      &:last-child {
                        transform: translate(-50%,-12px) rotate(-45deg);
                      }
                    }
                }
            }
        }
    }
}